apiVersion: apps/v1
kind: Deployment
metadata:
  name: sampleapp
  namespace: devops  # optional
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sampleapp
  template:
    metadata:
      labels:
        app: sampleapp
    spec:
      containers:
      - name: sampleapp
        image: dockeritc778/sampleapp:IMAGE_TAG
        ports:
        - containerPort: 5000

---

apiVersion: v1
kind: Service
metadata:
  name: sampleapp-svc
spec:
  type: LoadBalancer
  selector:
    app: sampleapp
  ports:
    - port: 80      
      targetPort: 5000